surfa___________________________________________________________________________
temperature                 300.00000
pressure                  0.0
steps                       20000
equilibration               1000
timestep                 0.00100000 ps
#restart
scale                1 
cutoff                  10.41  angstrom
primary cutoff          10.41 angstrom
delr                    0.8 angstrom
print            250  
rdf              250  
print rdf
job time            600000 seconds
close time             100 seconds
ewald precision     1d-5
cap forces            1000.0
#ensemble   npt
ensemble   npt hoover  0.1 0.5
stats           250      
trajectory nstraj= 0    istraj= 100  keytrj=0
stack                100     
shake tolerance  1.d-8
finish
