.ipynb_check*
*/.ipynb_check*
*/*/.ipynb_check*
introductions
course/week_1/__pycache__
course/week_1/steve_tutorial
course/week_1/START_HERE_completed.ipynb
CH20238_Intro_Comp_Chem_L1-3_printing.pdf
